---
import H2 from "./ui/H2.astro";

const numYears = new Date().getFullYear() - 2017;
---

<section class="border-b-2 py-4">
    <H2 text="About" />
    <div class="pl-2">
        <p class="mb-2">
            I've been a software developer for around {numYears} years, with the
            last {numYears - 1} of them working primarily on React SPAs in the financial services space at companies like NAB, IAG and ANZ.
        </p>
        <p>
            I'm interested in any coding heavy roles in both the backend and
            frontend, that require deep knowledge of React or Typescript. I'm also keen on any
            roles involving Rust, as I'm learning that in my spare time.
        </p>
    </div>
</section>
