---
import H2 from "./ui/H2.astro";
import H3 from "./ui/H3.astro";
---

<section class="border-b-2 py-4">
  <H2 text="Education" />
  <div class="pl-2">
    <dl>
      <div class="mb-4">
        <dt class="mb-0 text-lg font-bold">Master of Information Technology</dt>
        <dd>Monash University, 2015 - 2017</dd>
      </div>

      <div class="mb-2">
        <dt class="mb-0 text-lg font-bold">
          Bachelor of Science (Software Systems)
        </dt>
        <dd>University of Melbourne, 2009 - 2013</dd>
      </div>
    </dl>
  </div>
</section>
