---
import Link from "./ui/Link.astro";
---

<header class="shadow-sm py-1">
  <div class="py-4">
    <h1 class="text-3xl font-extrabold py-0.5">Jithya N.</h1>
    <div class="text-lg py-0.5">
      <span class="pr-2 border-r-2 border-gray-400">Full-stack developer</span>
      <span>Melbourne, Australia</span>
    </div>
    <div class="py-0.5">
      <Link href="https://www.linkedin.com/in/jithyan/" text="LinkedIn" />
      <Link href="https://github.com/jithyan" text="GitHub" />
    </div>
  </div>
</header>
