---
import H2 from "./ui/H2.astro";
import H3 from "./ui/H3.astro";
import Link from "./ui/Link.astro";
---

<section class="border-b-2 py-4">
  <H2 text="Personal projects" />

  <section class="mb-4">
    <H3 text="Crypto trading bots" />
    <div>
      <Link text="www.ponzibots.com" href="www.ponzibots.com" />
      <Link text="GitHub" href="https://github.com/jithyan/crypto-bots" />
    </div>

    <span>Tech stack:</span>

    <ul>
      <li>Typescript</li>
      <li>MariaDB</li>
      <li>Google Cloud</li>
      <li>NodeJS</li>
      <li>React</li>
      <li>Recoil</li>
    </ul>

    <p>
      Built a bot for trading crypto on Binance. This project consisted of 4
      major pieces: a UI manager to view the performance of the bots and
      start/stop them; the bot itself and 2 microservices - one to manage the
      bots, the other to log their trades
    </p>
  </section>

  <section>
    <H3 text="Software development blog" />
    <div>
      <Link
        text="jithyan.github.io/blog"
        href="https://jithyan.github.io/blog/"
      />
      <Link text="GitHub" href="https://github.com/jithyan/blog" />
    </div>

    <span>Tech stack:</span>

    <ul>
      <li>Typescript</li>
      <li>NextJS</li>
      <li>React</li>
    </ul>

    <p>
      A place to document my learning on web development using React and
      Typescript
    </p>
  </section>
</section>
