---
import H2 from "./ui/H2.astro";
import H3 from "./ui/H3.astro";
import Link from "./ui/Link.astro";
---

<section class="border-b-2 py-4">
  <H2 text="Personal projects" />

  <section class="mb-4">
    <H3 text="Crypto trading bots" />
    <div>
      <Link text="www.ponzibots.com" href="www.ponzibots.com" />
      <Link text="GitHub" href="https://github.com/jithyan/crypto-bots" />
    </div>
    <p>Under construction...</p>
  </section>

  <section>
    <H3 text="Software development blog" />
    <div>
      <Link
        text="jithyan.github.io/blog"
        href="https://jithyan.github.io/blog/"
      />
      <Link text="GitHub" href="https://github.com/jithyan/blog" />
    </div>
    <p>Under construction...</p>
  </section>
</section>
