---
import H2 from "./ui/H2.astro";
import H3 from "./ui/H3.astro";
import Link from "./ui/Link.astro";
import TechStack from "./ui/TechStack.astro";
---

<section class="border-b-2 py-6">
  <H2 text="Personal projects" />

  <div class="pl-2">
    <section class="mb-4">
      <H3 text="Crypto trading bots" />
      <div class="p-1 mb-2 text-sm">
        <Link text="ponzibots.com" href="http://ponzibots.com" />
        <Link text="GitHub" href="https://github.com/jithyan/crypto-bots" />
      </div>

      <div class="px-4 py-2">
        <TechStack
          tech={["Typescript", "NodeJS", "React", "MariaDB", "Google Cloud"]}
        />
        <p>
          Built bots for trading crypto on Binance. This project consisted of 4
          major pieces: a UI manager to view the performance of the bots and to
          start/stop them; the bot itself and 2 microservices - one to manage
          the bots, the other to log their trades.
        </p>
      </div>
    </section>

    <section class="mb-4">
      <H3 text="Software development blog" />
      <div class="p-1 mb-2 text-sm">
        <Link
          text="jithyan.github.io/blog"
          href="https://jithyan.github.io/blog/"
        />
        <Link text="GitHub" href="https://github.com/jithyan/blog" />
      </div>

      <div class="px-4 py-2">
        <TechStack tech={["Typescript", "NextJS", "React"]} />
        <p>
          A place to document my learning on using React and Typescript for web
          development.
        </p>
      </div>
    </section>

    <section class="mb-4">
      <H3 text="Michael West Reader for Android" />
      <div class="p-1 mb-2 text-sm">
        <Link text="GitHub" href="https://github.com/jithyan/michael-west-reader" />
      </div>

      <div class="px-4 py-2">
        <TechStack tech={["Typescript", "React Native", "Expo"]} />
        <p>
          A mobile specific reader for the Michael West news website. Didn't go through the process of publishing it due to the number of hoops a news app has to go through to publish in Google's Play Store.
        </p>
      </div>
    </section>

    <section class="mb-4">
      <H3 text="Git Branch Manager" />
      <div class="p-1 mb-2 text-sm">
        <Link text="GitHub" href="https://github.com/jithyan/git-branch-manager" />
      </div>

      <div class="px-4 py-2">
        <TechStack tech={["Typescript", "React", "NodeJS", "Ink"]} />
        <p>
          A very simple CLI utility for being able to select branches for checkout/removal, as I couldn't be bothered typing out full branch names.
        </p>
      </div>
    </section>

    <section class="mb-4">
      <H3 text="Resume" />
      <div class="p-1 mb-2 text-sm">
        <Link
          text="jithyan.github.io/resume/"
          href="https://github.com/jithyan/resume"
        />
        <Link text="GitHub" href="https://github.com/jithyan/resume" />
      </div>

      <div class="px-4 py-2">
        <TechStack tech={["Astro", "HTML", "Tailwind CSS", "React PDF"]} />
        <p>My resume as a (mostly) static website using Astro's Islands architecture.
        The PDF version is generated client side using React PDF.</p>
      </div>
    </section>
  </div>
</section>
