<section>
  <h2>Personal projects</h2>

  <ul>
    <li>Crypto trading bots</li>
    <p><a href="www.ponzibots.com">wwww.ponzibots.com</a></p>
    <p><a href="github.com/jithyan/crypto-bots">GitHub repo</a></p>
    <p>3 apps in a mono repo. UI manager, bot manager and bots</p>
    <p>Image</p>

    <li>Personal blog</li>
    <p>Collection of articles on stuff I've learnt</p>

    <li>Git branch manager</li>
    <p>simple CLI tool to be able to select branches from a UI</p>
  </ul>
</section>
