---
import H2 from "./ui/H2.astro";
import H3 from "./ui/H3.astro";
import TechSkillList from "./ui/TechSkillList.astro";
---

<section class="border-b-2 py-4">
  <H2 marginBottom={8} text="Technical skills" />

  <div class="pl-2 mt-2">
    <section class="mb-4">
      <H3 text="Highly experienced in" marginBottom={4} />
      <div class="px-2 py-2">
        <TechSkillList tech={["React", "NodeJS", "Typescript"]} />
      </div>
    </section>

    <section class="mb-4">
      <H3 text="Some experience with" marginBottom={4} />
      <div class="px-2 py-2">
        <TechSkillList tech={["Java 8", "Python", "Docker"]} />
      </div>
    </section>

    <section class="mb-4">
      <H3 text="Looking to upskill in" marginBottom={4} />
      <div class="px-2 py-2">
        <TechSkillList tech={["CSS", "Cloud", "DevOps"]} />
      </div>
    </section>
  </div>
</section>
