<section>
  <h2>Tech I'm highly experienced in</h2>
  <ul>
    <li>Typescript/Javascript</li>
    <li>React</li>
    <li>NodeJS</li>
  </ul>
</section>

<section>
  <h2>Tech I have some experience with</h2>
  <ul>
    <li>Python</li>
    <li>Java</li>
    <li>Docker</li>
    <li>Microsoft T-SQL</li>
  </ul>
</section>

<section>
  <h2>Tech I'm not good at (yet)</h2>
  <ul>
    <li>CSS</li>
    <li>Cloud/DevOps</li>
  </ul>
</section>
