<section>
  <h2>Work experience</h2>

  <section>
    <h3>Contractor (NAB)</h3>
    <p>Softphone</p>
  </section>

  <section>
    <h3>IAG</h3>
    <p>Insurance</p>
  </section>

  <section>
    <h3>NAB</h3>
    <p>Bank</p>
  </section>

  <section>
    <h3>CGI</h3>
    <p>Consultancy</p>
  </section>
</section>
