---
interface Props {
  text: string;
  marginBottom?: number;
}

const { text } = Astro.props;
---

<h2 class={"text-2xl underline font-extrabold leading-tight mb-4 p-1"}>
  {text}
</h2>
