---
interface Props {
  title: string;
  date: string;
}

const { title, date } = Astro.props;
---

<h4 class="my-4 text-lg font-bold mb-4">
  {title}
  <span class="text-base font-lg">({date})</span>
</h4>
