---
export interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<a
  class="underline px-1 text-blue-600 font-bold inline-block text-sm visited:text-purple-600 hover:text-blue-400 hover:shadow-sm"
  href={href}
  target="_blank"
  >{text}
</a>
